.auth_page{
    width: 100%;
    min-height:100vh;
    background: #fdfdfd;
    display: flex;
    justify-content:center;
    align-items:center;
}
.auth_page form{
    background: #fff;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 50px 25px;
    
}
.auth_page form .pass{
    position: relative;
}
.auth_page form .pass small{
    position: absolute;
    top: 50%;
    right:5px;
    transform: translate(-50%);
    cursor: pointer;
    opacity: 0.5;
}
.wrap-input100 small{
    position: absolute;
    top: 50%;
    right:5px;
    transform: translate(-50%);
    cursor: pointer;
    opacity: 0.5;
}
.auth_page .auth_btn {
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    border: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 0;
}

.auth_page .github_auth_btn {
    background: #000;
    color: #fff;
}

.auth_page .auth_btn svg {
    font-size: 32px;
}

