.auth-container {
  max-width: 666px;
  margin: auto;
  height: 100vh;
  align-content: center;
}

.line-form {
    font-size: 1rem;
    position: relative;
    color: #9f9f9f;
    height: 32px;
    text-align: center;
}

.line-form .line-text {
    position: absolute;
    z-index: 1;
    padding: 0 5px;
    transform: translateX(-17px);
    font-size: 16px;
    text-transform: uppercase;
    background-color: #fff;
}

.line-form:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    border-top: 1px solid #9f9f9f;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(11px);
}
.auth-form {
  padding: 15px 25px;
}

.social-button {
  width: 126px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #000;
}

.auth-submit-btn {
  background-color: #ee3e38;
  border-color: #ee3e38;
  color: #fff;
}

.alert-input {
  left: 0;
  transform: unset !important;
  top: 100% !important;
}

.form-control:focus {
    color: #495057;
    border: 1px solid #000;
    background-color: #fff;
    border-color: #000;
    box-shadow: unset;
}

.btn:hover {
    color: unset;
}

.btn {
    cursor: pointer;
}

/* REGISTER */
.gender-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
    border: 1px solid #ced4da;
    height: calc(1.5em + .75rem + 2px);
    border-radius: .25rem;
}

.gender-box-container label {
    margin-bottom: 0;
}
  
.hide-show-pass-btn {
    position: absolute;
    right: 22px;
    transform: translateY(-30px);
    cursor: pointer;
}

