.profile {
    width: 100%;
    min-height: 100vh;
}

/* ------------ INFO ------------- */

.info {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
}

.info_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info_content {
    min-width: 250px;
    max-width: 550px;
    width: 100%;
    flex: 1;
    margin: 0 15px;
}

.info_content_title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.info_content_title h2 {
    font-size: 2rem;
    transform: translateY(4px);
    flex: 3 1;
    font-size: 20px;
}

.info_content_title button {
    flex: 2;
}

.btn_user {
    border: none;
    border-radius: 8px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 500;
}

.info_content h6, .info_content p {
    font-size: 15px;
}

.bio__profile {
    font-size: 15px;
    padding: 15px 0;
}

.follow_btn {
    margin: 15px 0;
}

.btn__follow {
    color: #fff;
    background-color: #0095F6;
    cursor: pointer;
}

.btn__unfollow:hover {
    background-color: #dbdbdb;
}

.btn__follow:hover {
    background-color: #1877f2;
}

.info_content .follow_btn span {
    cursor: pointer;
}

.edit__profile_btn {
    background: #efefef;
    border: none;
    color: #000;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    height: 29px;
    padding: 17px 25px;
    display: flex;
    align-items: center;
}


/* ---------- Profile Edit ------------- */
.edit_profile {
    background: #fff;
    padding: 15px;
    border-left: 1px solid #d5d2d3;
    border-right: 1px solid #d5d2d3;
    height: 100vh;
}

.edit_profile form {
    padding: 100px;
}

.edit_profile .photo_profile .photo_review{
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 62px;
}

.edit_profile .photo_profile img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.edit_profile .change_select p {
    color:#1877f2;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.edit_profile .photo_profile #file_up {
    opacity: 0;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.edit_profile form label {
    font-weight: 500;
    width: 100px;
}

.edit_profile .form-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
}

.edit_profile .form-control {
    max-width: 500px;
}

.edit_profile .save_btn {
    background: #0095F6;
    border: none;
    color: #fff;
    border-radius: 8px;
    height: 35px;
    width: 80px;
    font-weight: 500;
}

/*----------- FOLLOW -----------*/

.follow {
    position: fixed;
    top: 0;
    left: 0;
    background: #0008;
    width: 100%;
    height: 100vh;
    z-index: 4;
}

.follow_box {
    width: 350px;
    height: 400px;
    border: 1px solid #222;
    border-radius: 5px;
    background: white;
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.follow_box .close {
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 3rem;
    cursor: pointer;
}

.follower__by {
    font-size: 14px;
    font-weight: 500;
}

.folower__by_view {
    cursor: pointer;
}

/* ---------------SAVE TAB ----------------*/
.profile_tab {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
}

.profile_tab button {
    outline: none;
    border: none;
    background: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 20px;
    margin: 0 25px;
    opacity: 0.5;
}

.profile_tab button.active {
    border-top: 1px solid #000;
    opacity: 0.8;
}
